.navbar-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    height: 20vh;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 10%;
}

.navbar ul li {
    list-style-type: none;
    font-size: 15pt;
    font-weight: bold;
}